/* style.css */

:root {
  --primary-color: #075985; /* Deep Ocean */
  --secondary-color: #f0f9ff; /* Écume */
  --accent-color: #fbbf24; /* Sunset Gold */
  --text-color: #1f2937;
  --title-font: "Righteous", sans-serif;
  --body-font: "Inter", sans-serif;
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: var(--body-font);
  margin: 0;
}

h1,
h2,
.logo {
  font-family: var(--title-font);
  color: var(--primary-color);
}

.btn-upload {
  background-color: var(--primary-color);
  color: white;
  border-radius: 50px; /* Bords très arrondis style planche */
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  border: none;
  cursor: pointer;
}

.btn-upload:hover {
  background-color: var(--accent-color);
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  margin-right: 15px;
}

.nav-link:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--accent-color); /* Un petit souligné Sunset */
}
